<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chocolate House Management</title>
</head>
<body>
    <h1>The Dream Chocolate House🍫🍩</h1>
    <nav>
        <ul>
            <li><a href="{% url 'seasonal_flavor_list' %}">Seasonal Flavors</a></li>
            <li><a href="{% url 'ingredient_list' %}">Ingredients</a></li>
            <li><a href="{% url 'customer_suggestion_list' %}">Customer Suggestions</a></li>
        </ul>
    </nav>
</body>
</html>
